/* *{
    border: 2px solid red;
} */

@font-face {
    font-family: anton-cabin;
    src: url('./fonts/anton-cabin/Cabin/Cabin-VariableFont_wdth\,wght.ttf');
}
body{
    margin: 0px;
    background-color: #beffa6;
    font-family: 'anton-cabin';
}
button{
    font-family: 'anton-cabin';
}
input{
    font-family: 'anton-cabin';
}
/* Container */

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: calc(20px + 1vh);
}
/*Navbar*/

header{
    flex:0.5;
    display: flex;
    padding: calc(10px + 1vh);
    background-color: white;
}
nav{
    display: flex;
    width: 100%;
}
nav div{
    flex:1;
}
.nav-title{
    display: flex;
    align-items: center;
    font-size: calc(1rem + 1vw);
    font-weight: bolder;
}
.nav-div-two{
    display: flex;
    align-items: center;
}
.nav-div-two>div{
    display: flex;
    justify-content: center;
}
#add-button{
    border-radius: 9999px;
    display: flex;
    border: 0px;
    background-color: white;
}
#add-button img{
    height: calc(30px + 1vw);
    border-radius: 9999px;
}
#log-in{
    height: calc(8px + 3vh);
    width: calc(40px + 3vw);
    font-size: calc(6px + 0.8vw);
    border-radius: calc(3px + 0.5vh);
    border: 0px;
    font-family: 'Cabin', sans-serif;
    background-color: black;
    color: white;
}
#add-button:hover{
    background-color: lightgrey;
}
#log-in:hover{
    background-color: darkslategrey
}

/* Main */

main{
    flex: 5;
    display: grid;
    grid-template-columns: repeat(auto-fill,250px);
    justify-content: center;
    gap: calc(5px + 1vh);
    grid-auto-rows: 300px;
    padding: 1% 10%;
    
}
main div{
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: calc(10px + 1vh);
    font-size: calc(10px + 1vh);
}
main div button{
    height: calc(10px + 2.5vh);
    width: calc(100px + 3vw);
    border: 0px;
    border-radius: 10px;
    font-size: calc(8px + 0.8vh);
    font-weight:bold ;
    font-family: 'Cabin', sans-serif;
    
}
.title-of-book{
    font-weight: bolder;
    font-size: calc(10px + 1.5vh);
}
.not-read{
    background-color: red;
    color: white;
}
.not-read:hover{
    background-color: #bf3102;
}
.delete-it{
    background-color: black;
    color: white;
}
.delete-it:hover{
    background-color: darkslategrey;
}
/* Footer */

footer{
    flex-direction: 1;
    display: flex;
    justify-content: center;
    width: 100%;   
    font-size: calc(8px + 0.8vw);
    color: black;
    margin-bottom: 10px;
}

/* Modal form */

.modal-form{
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 2;
    width: calc(200px + 10vw);
    height: calc(200px + 10vh);
    background-color: white;
    border-radius:10px ;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    padding: 1% 1%;
    visibility: hidden;
}

.modal-form div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-form div input{
    width: calc(150px + 10vw);
    height: calc(30px + 1vh);
    font-size: calc(8px + 0.8vw);
    border-radius: 10px;
}
.modal-form div button{
    height: calc(30px + 1vh);
    width: calc(100px + 1vw);
    font-size: calc(8px + 0.8vw);
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 10px;
}
.overlay{
    visibility: hidden;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.read{
    background-color: green;
    color: white;
}
.read:hover{
    background-color: darkgreen;
}